/* Styles pour le conteneur principal */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* Utilisation de min-height pour assurer que le conteneur s'étende au moins sur toute la hauteur de la page */
  background-color: #d3d7d7;; /* Violet-bleu */
  padding: 20px;
  text-align: center;
  width: 100vw; /* Largeur de 100vw pour remplir toute la largeur de la fenêtre visible */
}

.buttons-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: center; /* Centrer horizontalement les boutons */
  align-items: center;
  padding: 15px 0; /* Ajustement de la marge intérieure */
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text-button {
  background-color: #f0f0f0; /* Couleur de fond initiale */
  border: none;
  font-size: 16px;
  padding: 12px 20px; /* Ajustement de la taille des boutons */
  cursor: pointer;
  color: #333333;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease; /* Ajouter une transition pour un effet plus fluide */
}

.text-button:not(:last-child) {
  margin-right: 20px; /* Espacement entre les boutons */
}

.text-button:hover {
  background-color: #d55656;
  color: #ffffff;
}



/* /* Styles pour le conteneur des boutons 
.buttons-container {
  background-color: #076863;
  position: absolute;
  
  
} */

/* Styles pour les boutons Semantic UI React 
.buttons-container .ui.button {
  /*couleur de fond
  background-color: #076863;
  font-size: 18px; /* Ajustez la taille de la police selon vos préférences 
  border-radius: 20px; /* Ajoutez des coins arrondis 
  padding: 10px 20px; /* Ajoutez un peu de rembourrage pour les rendre plus grands 
} */


/* Styles pour le titre */
.title {
  font-size: 32px; /* Taille de la police */
  font-weight: bold; /* Gras */
  color: #333333; /* Couleur du texte */
  margin-top: 40px; /* Marge en haut */
}


.content {
  display: flex; /* Utiliser Flexbox pour disposer les éléments enfants */
}

.left-bar,
.right-bar {
  flex: 1; /* Faire en sorte que les barres latérales occupent tout l'espace disponible */
  padding: 20px; /* Ajouter un espace de remplissage pour les barres latérales */
}

/* Styles pour la barre de recherche de base */
.search-req-bar {
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-req-bar h2 {
  font-size: 24px;
  color: #333333;
}


/* Style pour les blocs d'explication des fonctionnalités */
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-bottom: 20px; /* Espacement entre les blocs */
  background-color: white; /* Couleur de fond blanche */
  color: black; /* Couleur du texte noir */
}

.feature:hover {
  transform: translateY(-5px);
}

.feature-icon {
  margin-bottom: 10px;
}

.feature h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.feature p {
  font-size: 18px;
  text-align: center;
}

/* /* Style pour les boutons 
.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
} */

.black-button {
  margin: 0 10px;
}
